{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
#}

{% if show_confirmation|default(false) %}
    {% set attr = {'data-confirmation': 'true'} %}
    {{ include('blog/_delete_post_confirmation.html.twig') }}
{% endif %}

{{ form_start(form, {attr: attr|default({})}) }}


    {% for blocker in workflow_transition_blockers(post, 'publish')  %}
        <p style="color: red;">{{ blocker.message }}</p>
    {% endfor %}
    {{ form_widget(form) }}

    <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
        <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('label.create_post'|trans) }}
    </button>

{% if workflow_can(post, 'publish') %}
    <button type="submit" class="btn btn-primary" name="publish">
        <i class="fa fa-publish" aria-hidden="true"></i> PUBLISH
    </button>
{% endif %}

{% if workflow_can(post, 'archive') %}
    <button type="submit" class="btn btn-primary"  name="archive">
        <i class="fa fa-publish" aria-hidden="true"></i> ARCHIVE
    </button>
{% endif %}

    {% if include_back_to_home_link|default(false) %}
        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'action.back_to_list'|trans }}
        </a>
    {% endif %}


{{ form_end(form) }}
